<header>

    <!--navbar-->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">

            <div class="container">

                <div class="row-fluid">
                    
                    <!--logo-->
                    <div class="span3">

                        <div class="row-fluid">
                            <div class="span6">
                                <img class="logo" src="img/logo.png" alt="">
                            </div>
                            <div class="span6">
                                <div class="dropdown divider-left divider-right">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Refund Manager <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="application in applications"><a ng-href="{{application.url}}">{{application.name}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--/dropdown-->

                    <!--user-->
                    <div class="span9">

                        <!--navbar-aside-->
                        <div class="navbar-aside">

                            <div ng-transclude>
                            </div>

                            <div class="user divider-left pull-right">

                                <span class="user-name">{{ login }}</span>
                                <button type="submit" class="btn">Sign out <span class="icon-signout"></span></button>
                            </div>

                        </div>
                        <!--/navbar-aside-->

                    </div>
                    <!--/user-->

                </div>

            </div>

        </div>
    </div>
    <!--/navbar-->

</header>