<div class="appHeader">

	<!--navbar-->
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">

		<!--container-->
		<div class="container">

			<!--navbar-row-->
			<div class="navbar-row">

				<!--logo-->
				<div class="navbar-row-col col-logo">
					<img class="logo" src="img/logo.png" alt="">
				</div>
				<!--logo-->

				<!--dropdown-->
				<div class="navbar-row-col col-dropdown">

					<!--dropdown-->
					<div dropdown class="dropdown divider-left divider-right">

						<a href="#" class="dropdown-toggle" dropdown-toggle>
							{{ currentAppName }}
							<b class="caret"></b>
						</a>

						<ul class="dropdown-menu">
							<li ng-repeat="application in applications" ng-hide="application.name == currentAppName">
								<a ng-href="{{application.url}}">{{application.name}}</a>
							</li>
						</ul>

					</div>
					<!--dropdown-->

				</div>
				<!--/dropdown-->

				<!--menu-->
				<div class="navbar-row-col col-menu">

					<div ng-transclude>
					</div>

				</div>
				<!--/menu-->

				<!--user-->
				<div class="navbar-row-col col-user">

					<div class="user-name" tooltip="{{ login }}" tooltip-placement="bottom">
						{{login}}
					</div>

				</div>
				<!--user-->

				<!--col-sign-->
				<div class="navbar-row-col col-sign">

					<a href="api/logout" class="btn btn-default btn-sm">Sign out <span class="glyphicon glyphicon-signout"></span></a>

				</div>
				<!--col-sign-->

			</div>
			<!--/navbar-row-->

		</div>
		<!--/container-->

	</div>
	<!--/navbar-->

</div>