<div class="appHeader">

	<!--navbar-->
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">

		<!--container-->
		<div class="container">

			<!--row-->
			<div class="row">

				<!--logo-->
				<div class="col-xs-2">
					<img class="logo" src="img/logo.png" alt="">
				</div>
				<!--logo-->

				<!--col-xs-10-->
				<div class="col-xs-10">

					<!--wrap-->
					<div class="wrap">

						<!--wrap-col-left-->
						<div class="wrap-col wrap-col-left">

							<!--wrap-inn-->
							<div class="wrap-inn">

								<!--wrap-inn-col-left-->
								<div class="wrap-inn-col wrap-inn-col-left">

									<!--dropdown-->
									<div dropdown class="dropdown divider-left divider-right">

										<a href="#" class="dropdown-toggle" dropdown-toggle>{{ currentAppName }} <b class="caret"></b></a>

										<ul class="dropdown-menu">
											<li ng-repeat="application in applications" ng-hide="application.name == currentAppName">
												<a ng-href="{{application.url}}">{{application.name}}</a>
											</li>
										</ul>

									</div>
									<!--dropdown-->

								</div>
								<!--/wrap-inn-col-left-->


								<!--wrap-inn-col-right-->
								<div class="wrap-inn-col wrap-inn-col-right">

									<!--transclude-->
									<div ng-transclude>
									</div>
									<!--transclude-->

								</div>
								<!--/wrap-inn-col-right-->

							</div>
							<!--/wrap-inn-->

						</div>
						<!--/wrap-col-left-->


						<!--wrap-col-right-->
						<div class="wrap-col wrap-col-right">

							<!--user-->
							<div class="user divider-left">
								<span class="user-name">{{ login }}</span>
								<a href="api/logout" class="btn btn-default btn-sm">Sign out <span class="glyphicon glyphicon-signout"></span></a>
							</div>
							<!--/user-->

						</div>
						<!--/wrap-col-right-->

					</div>
					<!--/wrap-->

				</div>
				<!--col-xs-10-->

			</div>
			<!--/row-->

		</div>
		<!--/container-->

	</div>
	<!--/navbar-->

</div>